<mat-nav-list>
  <mat-list-item style="margin-bottom: 20px;">
    <p style="font-size: 18px; color: forestgreen;" routerLink="/newsItems/new">+ Voeg nieuws toe</p>
  </mat-list-item>
  <mat-list-item *ngFor="let newsItem of newsItemsFacade.newsItems" style="margin-bottom: 20px;"
                 routerLink="/newsItems/{{newsItem.id}}">
    <tr style="width: 100%">
      <td style="width: 50%">
        <a style="font-size: 18px;">
          {{newsItem.title}}
        </a>
        <br>
        <a style="color: gray; font-size: 14px;">
          {{ newsItem.subject}}
        </a>
      </td>
      <td style="width: 25%">
        <a [routerLink]="['/newsItem', newsItem.id]">
          <i class="material-icons">mode_edit </i>
        </a>
      </td>
      <td style="width: 25%">
        <a (click)="deleteNewsItem(user)" href="">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </mat-list-item>
</mat-nav-list>
